<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PerguntasTugas</title>
</head>

<body>
    <section class="login-dark">
        <form method="post" style="background: grey;color: White;" action="lobby_search">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration">
                <p style="color: White;">?</p>
            </div>
            <div class="mb-3"><input class="form-control" id ="1" type="text" name="username" placeholder="Username" style="color: white;" required></div>
            <input type="hidden" name="Session_ID" value="TESTE"/>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" value="Submit">Jogar</button></div> 
        </form>
    </section>
    <footer class="footer-basic" style="background: grey;">
        <div class="social" style="color: white;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline" style="color: white;">
            <li class="list-inline-item"><a href="#">Pagina Inicial</a></li>
            <li class="list-inline-item"><a href="#">Sobre</a></li>
            <li class="list-inline-item"><a href="#">Termos e condições</a></li>
            <li class="list-inline-item"><a href="#">Politicas de Privacidade</a></li>
        </ul>
        <p class="copyright" style="color: white;">Perguntas Tugas © 2022</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>