<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PerguntasTugas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container" style="width: 100%;height: 100%;">
        <h1 class="text-center">Resultados</h1>
        <h2 class="text-center">Parabens (nome) você ganhou!</h2>
        <div class="table-responsive text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i< Sala.length; i++){ %>
                        <tr>
                            <td><%= Sala[i].player_name%></td>
                            <td><%= Sala[i].pontuacao %></td>
                        </tr>
                        <% }%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container text-center"><a class="btn btn-light btn-lg" role="button" href="/lobby_search" style="background: rgb(149,153,156);color: rgb(255,255,255);width: 25%;text-align: center;border-color: rgb(rgb(149,153,156));margin-top: 2.5%;margin-bottom: 2.5%;">Voltar ao menu principal</a></div>
    <footer class="footer-basic" style="background: grey;width: 100%;">
        <div class="social" style="color: white;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline" style="color: white;">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright" style="color: white;">Perguntas Tugas © 2022</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>


<script>

    var Jogadores = '<% Sala %>';


</script>

</html>