<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala</title>
    <link rel="stylesheet" href="assets/css/room.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/My_js/functions.js"></script>
</head>
<body>
    <h1 style="color: white"> <%= Host %>  </h1>
    <h1 style="color: white"> <%= Nome %>  </h1>
    <h1 style="color: white" id="teste"></h1>
    <section>
        <form id="form">
        <div class="chatContainer">
        <div>Chat</div>
        <div class="chatBox" id="Msg-Box">
        </div>
        <input id="chat-input" style="width: 60%; height: 30px;" autocomplete="off" type="text" /> 
        <input class="btn" type="submit" value="Send" id="msg-submit" />
        </div>
        </form>
    </section>
    <script type="text/javascript">

        
        /*VARIAVEIS*/
        //192.168.1.75
        //nord 100.67.125.212
        //var socket = io.connect("http://192.168.1.5:8081/"); // para rede local
        var socket = io.connect("http://localhost:8081"); // para local host
        //192.168.1.5
        var divChat = document.querySelector('#Msg-Box');
        var form = document.getElementById('form');
        var msgInput = document.getElementById("chat-input");
        const params = new URLSearchParams(window.location.search);
        var sala = params.get("id");// guarda o id da sala de jogo
        var host = '<%= Host %>';
        var Nome = '<%= Nome %>'
        var playerID; // id do jogador
        var cFinished = false; // cehcka se a countdown ja terminou
      //  var testinho = 5;

        /*Funcoes*/

        function ShowMsg(text){ // retorna a msg a colocar no chatbox

            let p = document.createElement("p");
            p.textContent = text;
            return p

        };

        function Temporizador(segundos,room){ // funcao de temporizador
            var timer = setInterval(function(){
                socket.emit("Temp_Lobby_Create",segundos,room); 
                document.getElementById('teste').innerHTML = segundos;
                testinho = segundos;
                segundos--;
                if (segundos < 0) {
                    
                    clearInterval(timer);
                    socket.emit("Start");
                   
                }
            }, 1000);
        }

        function Round_Timer(segundos,room){
            var timer = setInterval(function(){
                socket.emit("Round_Timer_Server",segundos,room); // envia os segundos para todos os jogadores
                document.getElementById('teste').innerHTML = segundos;
                testinho = segundos;
                segundos--;
                if (segundos < 0) {

                    clearInterval(timer);
                    socket.emit("Next_Round");//comeca a proxima ronda

                }
            }, 1000);
        }

        function player_choose(resposta){

            //socket.emit("resposta")

        };

        /*SOCKET FUNCIONAR*/
        socket.on("connect", function(){ // primeira conexão
            divChat.appendChild(ShowMsg(`Conectou com id: ${socket.id}`));
            socket.emit("juntar_sala",sala);
        });

        /*EMITE O ID DA SALA*/
        //socket.emit("juntar_sala",sala);// juntar à sala de id do url

        /*Guarda o id do jogador*/

        socket.on('PlayerID',function(data){
                playerId = data; // guarda o id do jogador vindo do servidor
                //console.log(playerID);
        });

        /* *****************************
        *                              *
        *    Temporizador do inicio    *
        *            do Jogo           *
        *                              *
        ***************************** */
        
        if (host === 'true'){ // host
            Temporizador(5,sala);  
        }
        else{// not host
            socket.on("Lobby_Timer",function(segundos){

            document.getElementById('teste').innerHTML = segundos;  
            if(segundos === 0){
                socket.off('Lobby_Timer') 
            } 
            });
        }

        /* *****************************
        *                              *
        *        JOGO INICIADO         *
        *                              *
        ***************************** */ 
        
        /*
        socket.on("Game_Start",function(players,rondas,secs){

            console.log("HERE");
            console.log(rondas);
            console.log(secs);

        });
        */
        if (host === 'true'){ // se for host pede e envia as questoes
            socket.on("Game_Cycle",function(players,rondas,secs){

                console.log("HERE");
                console.log(rondas);
                console.log(secs);
                
                for(var i=0;i<rondas;i++){
                    Round_Timer(secs,sala)

                }
             });
        }


        /* *****************************
        *                              *
        *            Rondas            *
        *                              *
        ***************************** */

        socket.on("Round_Timer_Client",function(segundos,questao){//guarda os segundos e a pergunta comum a todos os utilizadores do lobby


            

        });
        
        /* *****************************
        *                              *
        *             CHAT             *
        *                              *
        ***************************** */
        
        /*CHAT*/
        socket.on("receber_msg", function(mensagem){ // receber msgs do servidor

            divChat.appendChild(ShowMsg(mensagem));// imprime a msg na box de chat

        });
        
        /*Submit MSG*/
        form.addEventListener("submit",function(e){ // evento de enviar a msg

            e.preventDefault();

            var msg =  msgInput.value; // guarda o que esta no input de texto


           if (msg === "") return
           divChat.appendChild(ShowMsg(msg)); // mostra a msg no chat

           socket.emit("enviar_msg", msg, sala); // envia msg so para a sala de id do url

           msgInput.value = ""; // reset do campo da msg

        });
        
    </script>
</body>
</html>