body {
    background: #f5f5f5;
    overflow-y: scroll;
}

.side-cols{

    width: 25%;
    

}

#mid-col{

    width: 50%;

}


form{
    margin: 0px;
}

.gameContainer {
    background: white;
    width: 65%;
    height: 200%;
    border-radius: 6px;
    float: right;
    margin: 5% 3% 1% 1%;
    padding: 10px;
    text-align: center;
   

}



.chatContainer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 500px;
    border-radius: 6px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: black;
    
}

h3{
    margin: 0px;
}

.chatBox {
    background: #f4f4f4;
    border-radius: 5px;
    width: 90%;
    height: 80%;
    margin: 5% auto 5% auto;
    border: 1px solid;
    border-color: #f4f4f4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.chatCell {
    background: white;
    width: 100%;
    height: 7%;
    margin: auto auto 1px auto;
    overflow-y: scroll;
}

.btn {
    background: grey;
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 0%;
    margin: 0px;

}

.btn-answer{
    background-color: white;
    height: 100%;
    width: 100%;    
    padding: 0px;
    margin: 0px;
    display: none;
}

.btn:hover {
    background: #ffffff;
    color: black;
}

#chat-input{

    margin: 0px;
    height: 7%;

}

  .grid-item {
    
    
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  h1{
    margin: 0px;
  }

#title{
    color: white;
}

#cubo{

    background: #f4f4f4;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    margin: 5% auto 5% auto;
    border: 1px solid;
    border-color: #f4f4f4;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;

}

